[submodule "test/ext/catch2"]
	path = test/ext/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "ext/gfakluge"]
	path = ext/gfakluge
	url = https://github.com/cartoonist/gfakluge.git
[submodule "ext/parallel-hashmap"]
	path = ext/parallel-hashmap
	url = https://github.com/greg7mdp/parallel-hashmap.git
[submodule "ext/libbdsg"]
	path = ext/libbdsg
	url = https://github.com/vgteam/libbdsg.git
